.logo{
    height: 40px;
}

body{
    background: #f3f3f3;
}

.main{
    background: #fff;
    width: 830px;
    margin: 0 auto;
    overflow: hidden;
    pedding: 10px;
}
.page-title{
    text-align: center;
}